In [1]:
ohlc = []

In [2]:
ohlc.append([1,2,3,4,5])
ohlc.append([10,20,30,40,50])

In [7]:
ohlc

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50]]

In [4]:
import pandas as pd

In [14]:
dtix = pd.DatetimeIndex(['04-13-2020','04-14-2020'])

In [15]:
df = pd.DataFrame(ohlc,columns=['One','Two','Three','Four','Five'], index=dtix )

In [16]:
df

            One  Two  Three  Four  Five
2020-04-13    1    2      3     4     5
2020-04-14   10   20     30    40    50

In [17]:
df.index[0]

Timestamp('2020-04-13 00:00:00')